@use 'variables' as *;
@use 'sass:color';

// Responsive breakpoints mixin
@mixin respond-to($breakpoint) {
  @if $breakpoint == 'mobile' {
    @media (max-width: #{$breakpoint-tablet - 1px}) {
      @content;
    }
  }
  @else if $breakpoint == 'tablet' {
    @media (max-width: #{$breakpoint-desktop - 1px}) {
      @content;
    }
  }
  @else if $breakpoint == 'desktop' {
    @media (min-width: $breakpoint-desktop) {
      @content;
    }
  }
  @else if $breakpoint == 'wide' {
    @media (min-width: $breakpoint-wide) {
      @content;
    }
  }
}

// Shorthand responsive mixins
@mixin mobile {
  @media (max-width: #{$breakpoint-tablet - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-desktop - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$breakpoint-desktop}) {
    @content;
  }
}

@mixin wide {
  @media (min-width: #{$breakpoint-wide}) {
    @content;
  }
}

// Flexbox mixins
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// Grid mixin
@mixin grid($columns: 1, $gap: $spacing-md) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  gap: $gap;
}

// Transitions
@mixin transition($property: all) {
  transition: $property $transition-medium;
}

@mixin transition-fast($property: all) {
  transition: $property $transition-fast;
}

@mixin transition-slow($property: all) {
  transition: $property $transition-slow;
}

// Typography mixins
@mixin heading-1 {
  font-family: $font-primary;
  font-size: $font-size-xxl;
  font-weight: 700;
  line-height: 1.2;
  
  @include mobile {
    font-size: $font-size-xl;
  }
}

@mixin heading-2 {
  font-family: $font-primary;
  font-size: $font-size-xl;
  font-weight: 700;
  line-height: 1.3;
  
  @include mobile {
    font-size: $font-size-large;
  }
}

@mixin heading-3 {
  font-family: $font-primary;
  font-size: $font-size-large;
  font-weight: 600;
  line-height: 1.4;
  
  @include mobile {
    font-size: $font-size-md;
  }
}

// Button reset
@mixin button-reset {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
  outline: none;
}

// Truncate text
@mixin truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin line-clamp($lines: 2) {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

// Card shadow
@mixin card-shadow {
  box-shadow: $shadow-medium;
  transition: box-shadow $transition-medium;
  
  &:hover {
    box-shadow: $shadow-large;
  }
}

// Absolute center
@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Visually hidden (for accessibility)
@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

// Aspect ratio
@mixin aspect-ratio($width, $height) {
  position: relative;
  
  &::before {
    content: '';
    display: block;
    padding-top: calc(#{$height} / #{$width} * 100%);
  }
  
  > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

// Container
@mixin container($max-width: 1200px) {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 $spacing-md;
  width: 100%;
}