// 1. Abstracts - Load variables and mixins first
@use 'abstracts/variables' as *;
@use 'abstracts/mixins' as *;

// 2. Base styles
@use 'base/reset';
@use 'base/typography';

// 3. Layout
@use 'layout';

// 4. Components
@use 'components/header';
@use 'components/footer';


// 5. Pages
@use 'pages/index';
@use 'pages/about';
@use 'pages/projects';
@use 'pages/contact';
